<div class="d-flex justify-content-center my-5">
    <i title="Facebook" class="fa-brands fa-1x fa-facebook-f"></i>
    <i title="Instagram" class="fa-brands fa-1x fa-instagram mx-5"></i>
    <i title="X" class="fa-brands fa-1x fa-x-twitter"></i>
</div>
